<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Learning</title>
</head>
<body>
    <h1>Hello From Django</h1>
    <h2>Main Page</h2>

    {# url routing #}
    <a href="/djangoRoute/userlist/">Method 1: Use url to enter the user list page</a>

    <br>

    {# 反向解析 (Not compatible if you have the namespace turned on) #}
    {# <a href="{% url 'userlist' %}">Method 2: 反向解析 to enter the user list page</a> #}


    <br>

    {# 反向解析 with namespace #}
    <a href="{% url 'djangoRoute:userlist' %}">Method 3: 反向解析(with namespace) to enter the user list page</a>

</body>
</html>
