<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Template</title>
</head>
<body>
    <h1>Django Template Page</h1>
    <hr>

    {# single line comment #}

    {% comment %}
        multiple lines comments
    {% endcomment %}

    <!-- Use of variables -->
    <p>Name: {{ name }}</p>
    <p>Age: {{ age }}</p>
    <p>All hobbies: {{ hobbies }}</p>
    <p>First hobby: {{ hobbies.0 }}</p>
    <p>Address: {{ address }}</p>
    <p>City: {{ address.city }}</p>
    <p>State: {{ address.state }}</p>


    <!-- Use of tags -->
    {% if age < 18 %}
        <p>{{ name }} is underage</p>
    {% else %}
        <p>{{ name }} is NOT underage</p>
    {% endif %}


    {% if age < 18 %}
        <p>{{ name }} is a baby </p>
    {% elif age < 45 %}
        <p>{{ name }} is young adult </p>
    {% else %}
        <p>{{ name }} is full adult </p>
    {% endif %}

    {% if address.city == 'seattle' and address.state == 'WA' %}
        <p>{{ name }} is in Seattle</p>
    {% else %}
        <p>{{ name }} is NOT in Seattle</p>
    {% endif %}

    <p>{{ name }}'s hobbies</p>
    {% for hobby in hobbies %}
        <li>{{ hobby }}</li>
    {% endfor %}



</body>
</html>
